* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: LeagueGothic;
    src: url("fonts/leaguegothic-regular-webfont.eot");
    src: url("fonts/leaguegothic-regular-webfont.eot?iefix") format('embedded-opentype'),
      url(fonts/LeagueGothic-Regular.otf);
}

/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

a img {
    border: none; /* Убираем рамку */
}

body {
    font-family: 'OpenSansRegular', sans-serif;
}




.container {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}



@media all {

    body {
       min-width: 306px;
    }

    /*HEADER*/

    .wrapper-header {
        background: #777 url("img/header-bg.jpg") no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .header {
        text-align: center;
        height: 465px;
        padding-top: 50px;
    }

    .menu__item {
        list-style: none;
    }

    .menu__link {
        display: block;
        font-family: LeagueGothic;
        font-size: 24px;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 1px 2px 2px rgba(0,0,0,.4);
        border-bottom: 2px solid transparent;
        box-sizing: content-box;
        padding: 0 4px;
        transition: linear 0.2s;
        text-decoration: none;
    }

    .menu__link:hover {
        border-bottom: 2px solid #edbfff;
        color: white;
        text-decoration: none;
    }

    .wrapper-slider {
        position: absolute;
        left: 0;
        right: 0;
        top: 202px;
        bottom: 99px;
        background: none;
    }

    .slider {
        font-size: 0;
    }

    .slider__text {
        margin-left: 45px;
        margin-right: 32px;
        padding-top: 93px;
        overflow: hidden;
        text-shadow: 0 2px 2px rgba(0,0,0,.3);
    }

    .slider__title {
        font-size: 36px;
        line-height: 36px;
        color: #fefefe;
        font-family: LeagueGothic, sans-serif;
        font-weight: normal;
    }


    .slider__subtitle {
        text-align: center;
        font-size: 18px;
        color: #edbfff;
        font-family: LeagueGothic, sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        white-space: nowrap;
    }

    .slider__info {
        display: none;
    }

    .slider__image {
        display: none;
    }

    .button--slider {
        text-align: center;
        position: absolute;
        left: 9px;
        right: 0;
        bottom: -34px;
    }

    .button span {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 2px;
        border-radius: 50%;
        background: white;
        border: 1px solid #333;
        position: relative;
        cursor: pointer;
        background-color: rgba(59,59,67,0.8);
    }

    .button span.active:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #f1f1f1;
        border: 1px solid #e8e8e8;
        position: absolute;
        top: 2px;
        left: 2px;
        box-shadow: 0 0 1px 0 gray;
    }

    .slider__arrow {
        position: absolute;
        background: url("img/sprite.png");
        width: 25px;
        height: 40px;
        cursor: pointer;
    }

    .slider__arrow--left {
        background-position: -154px 0;
        top: 103px;
        left: 0;
    }

    .slider__arrow--right {
        background-position: -182px 0;
        top: 103px;
        right: 0;
    }

    .wrapper-top {
        background: #745083;
        background-image: linear-gradient(to top, #322539, #745083);
        border-top: 1px solid #33253a;
        box-shadow: 0px 3px 20px 2px rgba(0,0,0,.4);
    }


    .top {
        padding-top: 67px;
        padding-bottom: 44px;
    }

    .about {
        text-shadow: 1px 1px #0f1518;
        color: white;
        padding-bottom: 19px;
    }

    .about:last-child {
        padding-top: 16px;
    }

    .about__title {
        font-family: "LeagueGothic", sans-serif;
        font-size: 24px;
        line-height: 30px;
        font-weight: normal;
        text-transform: uppercase;
        padding-left: 62px;
        position: relative;

    }

    .about__title:after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        left: 0;
        background: url("img/sprite.png") no-repeat;
        background-position: 0 -2px;
    }

    .about__content {
        font-size: 16px;
        line-height: 24px;
        padding-left: 63px;
        height: 70px;
        overflow: hidden;
    }

    .about__more {
        color: white;
        text-align: right;
        font-family: "LeagueGothic", sans-serif;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 16px;
        margin-right: 6px;
        text-shadow: 1px 1px #0f1518;
        transition: linear 0.2s;
    }

    .about__more:hover {
        color: white;
        text-shadow: 0 0 8px rgba(255,255,255,.8);
    }

    .wrapper-middle {
        background: #f9f9f9;
        border-bottom: 1px solid #e6e6e6;
    }

    .middle {
        padding-top: 69px;
        background: #F9F9F9;
    }

    .article {
        padding-bottom: 46px;
        position: relative;
    }

    .article__box {
        background: white;
        border-bottom: 1px solid #efefef;
        padding-left: 34px;
        padding-right: 41px;
        margin-left: 25px;
        padding-bottom: 27px;
        padding-top: 17px;
    }

    .article__text {
        padding-top: 8px;
        text-shadow: 1px 1px #fff;
        height: 220px;
        overflow: hidden;
    }

    .article__title {
        font-family: "LeagueGothic", sans-serif;
        font-size: 24px;
        line-height: 24px;
        padding-right: 25px;
        font-weight: normal;
        text-transform: uppercase;
        color: #454545;
    }

    .article__title span {
        white-space: nowrap;
        color: #edbfff;
    }

    .article__info {
        font-size: 16px;
        line-height: 24px;
        color: #454545;
        padding-top: 4px;
        padding-left: 4px;
        letter-spacing: -0.09px; /*PIXEL PERFECT*/
    }

    .round-image {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        border: 1px solid #dedede;
        height: 49px;
        width: 49px;
    }

    .article__image {
        top: 17px;
    }

    .button--article {
        padding-top: 22px;
        padding-left: 46px;
        text-align: center;
    }

    .button--article span {
        margin: 0;
        border-color: #e8e8e8;
        background: white;
    }

    .button--article span.active:after {
        background: #555;
    }

    .updates {
        position: relative;
        padding-bottom: 110px;
    }

    .updates__title {
        font-family: "LeagueGothic", sans-serif;
        font-size: 30px;
        line-height: 24px;
        padding-bottom: 18px;
        padding-right: 25px;
        font-weight: normal;
        text-transform: uppercase;
        color: #454545;
    }

    .updates-item {
        position: relative;
        padding-left: 66px;
        padding-bottom: 16px;
    }

    .updates-item:last-child {
        margin-top: 8px;
    }

    .updates-item__title {
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        margin-right: 58px;
        overflow: hidden;
        white-space: nowrap;
    }

    .updates-item__text {
        font-size: 16px;
        letter-spacing: -0.05px; /*PIXEL PERFECT*/
        overflow: hidden;
        white-space: nowrap;
    }

    .updates__more {
        font-size: 0;
        position: relative;
        display: block;
    }

    .updates__more:after {
        display: block;
        content: 'More blog posts';
        position: absolute;
        right: 5px;
        top: 2px;
        text-transform: uppercase;
        font-family: "LeagueGothic", sans-serif;
        font-size: 18px;
        color: #454545;
        text-shadow: 1px 1px #fff;
        text-decoration: none;
        transition: linear 0.2s;
    }

    .updates__more:hover:after {
        text-shadow: 0 0 5px rgba(0,0,0,.5);
    }

    .partners {
        text-align: center;
        padding-top: 28px;
        padding-bottom: 45px;
    }

    .partner-link {
        text-align: center;
        display: inline-block;
        padding: 23px;
        transition: linear 0.2s;
    }

    .partner-link:hover {
         background: #efefef;

    }

    .wrapper-bottom {
        display: none;
    }

    .wrapper-footer {
        background: #777 url("img/bottom-bg.jpg") repeat-y;
        background-size: cover;
        background-position: center;
    }

    .footer {
        padding-top: 40px;
        height: 160px;
    }

    .menu--footer {
        display: none;
    }

    .copy {
        text-align: center;
        color: white;
        font-size: 12px;
        text-shadow: 1px 2px 2px rgba(0,0,0,.4);
    }

    .copy__link {
        color: white;
        font-weight: bold;
        text-decoration: none;
        transition: linear 0.2s;
    }

    .copy__link:hover {
        text-shadow: 0 0 8px rgba(255,255,255,.8);
    }

}


@media all and (min-width: 480px) {

    .header {
        height: 497px;
    }

    .wrapper-slider {
        background: rgba(0,0,0,.2);
    }

    .slider {
        height: 400px;
    }

    .slider__text {
        display: inline-block;
        margin-left: 19px;
        padding-top: 94px;
    }

    .slider__image {
        display: block;
        width: 39.8%;
        position: absolute;
        right: 31px;
        top: -8px;
    }

    .slider__image img {
        max-width: 100%;
    }

    .button--slider {
        left: 9px;
        bottom: -42px;
    }

    .top {
        padding-bottom: 50px;
    }

    .about:first-child {
        padding-top: 8px;
    }

    .about:last-child {
        padding-top: 4px;
    }


    .article__box {
        padding-left: 35px;
        padding-right: 30px;
    }

    .article__title {
        font-size: 30px;
        padding-top: 5px;
        padding-bottom: 14px;
        padding-left: 3px;
    }

    .button--article {
        padding-left: 12px;
    }

    .updates {
        padding-left: 63px;
        padding-right: 36px;
    }

    .updates-item {
        padding-bottom: 19px;
    }

    .updates-item__title {
        margin-right: 0;
    }

    .updates-item:last-child {
        margin-top: 0px;
    }

    .updates-item__text {
        margin-right: 20px;
    }

    .partners {
        padding-bottom: 23px;
    }

    .partner-link {
        padding: 10px 25px;
    }

    .wrapper-bottom {
        display: block;
        background: #ececec;
    }

    .bottom {
        padding-top: 72px;
        padding-bottom: 40px;
    }

    .pigbull, .comments {
        display: none;
    }

    .categories {
        margin-left: -2px; /*PIXEL PERFECT*/
        margin-right: -3px; /*PIXEL PERFECT*/
        padding-bottom: 44px;
    }

    .bottom-block__title {
        font-size: 24px;
        font-family: "LeagueGothic", sans-serif;
        line-height: 42px;
        color: #454545;
        text-shadow: 0 1px #fff;
        font-weight: normal;
    }

    .bottom-block__content {
        font-size: 16px;
        color: #787878;
        text-shadow: 1px 1px #fff;
        line-height: 24px;
        height: 100px;
        overflow: hidden;
    }

    .footer {
        padding-top: 44px;
    }

    .menu--footer {
        display: block;
    }

    .menu--footer .menu__item {
        display: inline-block;
        margin-right: 13px;
    }

    .menu--footer .menu__item:last-child {
        margin-right: 0;
    }

    .menu--footer .menu__link {
         font-size: 20px;
     }

    .menu--footer .menu__item:last-child .menu__link {
        margin-right: 0;
        padding-right: 0;
    }

    .menu--footer .menu__item:first-child .menu__link {
        padding-left: 0;
    }

    .copy {
        padding-top: 32px;
    }

}

@media all and (max-width: 767px){

    /*DROPDOWN MENU*/

    .menu--top {
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        width: 115px;
        height: 30px;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        z-index: 10;
        transition: width 0.5s;
    }

    .menu--top:hover {
        height: auto;
        margin-top: 25px;
        width: 248px;
    }

    .menu__item {
        display: block;
        margin: 0;
        padding: 0;
    }

    .menu--top .menu__item:first-child {
        display: block;
    }
    .menu--top .menu__item .menu__link:hover {
        border-bottom: 2px solid transparent;
    }
    .menu--top .menu__item:first-child .menu__link {
        border-bottom: 2px solid #edbfff;
    }




    .menu--top:hover .menu__item {
        border-top: 1px solid #523e5a;
        border-bottom: 2px solid #36283e;
        background-color: rgba(43,34,49,0.7);
        display: block;
        padding: 6px 0 7px;
        line-height: 24px;
    }

    .menu--top:hover .menu__item:hover {
        background-color: rgba(43,34,49,0.9);
        border-bottom: 2px solid #edbfff;
    }

    .menu__link {
        display: inline;
    }

}

@media all and (min-width: 768px) {

    .header {
        text-align: left;
        height: 747px;
    }

    .menu--top {
        padding-top: 27px;
    }

    .menu--top .menu__item {
        display: inline-block;
        margin-right: 40px;
    }

    .menu__item:first-child .menu__link {
        padding-left: 0;
    }

    .wrapper-slider {
        top: 243px;
        bottom: 154px;
    }

    .slider__text {
        padding-top: 92px;
        padding-left: 5px;
        width: 270px;
    }

    .slider__title {
        font-size: 48px;
        line-height: 60px;
    }


    .slider__subtitle {
        font-size: 24px;
        margin-left: 0;
    }

    .slider__info {
        display: block;
        height: 103px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        line-height: 24px;
        color: #fff;
        letter-spacing: -0.1px; /*PIXEL PERFECT*/
    }

    .slider__info:first-line {
        line-height: 34px;
    }

    .slider__image {
        right: 14px;
        top: -23px;
    }

    .button--slider {
        left: 401px;
        bottom: -57px;
    }

    .slider__arrow {
        top: 180px;
    }

    .top {
        font-size: 0;
        padding-bottom: 44px;
    }

    .about {
        width: 33.333%;
        display: inline-block;
        vertical-align: top;
        padding-right: 26px;
        box-sizing: border-box;
        padding-top: 8px;
        padding-bottom: 21px;
    }

    .about:nth-child(2) {
        padding-right: 16px;
        padding-left: 10px;
    }

    .about:last-child {
        padding-top: 8px;
        padding-right: 0;
        padding-left: 26px;
    }

    .about__content {
        height: 140px;
    }

    .about__more {
        margin-top: 9px;
    }

    .middle {
        font-size: 0;
        padding-top: 101px;
    }

    .article {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        box-sizing: border-box;
    }

    .article__box {
        margin-right: 28px;
        padding-right: 23px;
    }

    .article__title {
        padding-right: 90px;
        font-size: 24px;
        padding-bottom: 3px;
    }

    .article__info {
        height: 150px;
        overflow: hidden;
    }

    .button--article {
        padding-left: 0px;
    }

    .button--article span {
        margin: 0 2px;
    }

    .updates {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        box-sizing: border-box;
        padding-left: 31px;
        padding-top: 32px;
        padding-right: 1px;
    }

    .updates-item__title {
        margin-right: 0;
    }

    .partners {
        padding-bottom: 8px;
    }

    .partner-link {
        padding: 0px 26px 15px;
    }

    .partner-link:first-child {
        padding-left: 0;
    }

    .partner-link:last-child {
        padding-right: 0;
    }

    .bottom {
        font-size: 0;
        padding-top: 93px;
    }

    .categories {
        display: inline-block;
        vertical-align: top;
        width: 33.333%;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
        padding-right: 35px;
        padding-bottom: 52px;
    }

    .categories:nth-child(4) {
        padding-right: 10px;
        padding-left: 23px;
    }

    .categories:last-child {
        padding-right: 0;
        padding-left: 44px;
    }

    .bottom-block__content {
        height: 170px;
    }

    .footer {
        padding-top: 44px;
    }

    .menu--footer .menu__item {
        margin-right: 31px;
    }

    .copy {
        padding-top: 30px;
        text-align: right;
    }

}

@media all and (min-width: 960px) {

    /*HEADER*/

    .header {
        height: 795px;
    }

    .logo {
        display: inline-block;
        vertical-align: top;
    }

    .menu--top {
        display: inline-block;
        vertical-align: top;
        float: right;
        padding-top: 21px;
    }

    .menu--top .menu__item {
        margin-right: 40px;
    }

    .menu--top .menu__item:first-child .menu__link {
        padding-left: 4px;
    }

    .menu--top .menu__item:last-child {
        margin-right: 0;
    }

    .menu--top .menu__item:last-child .menu__link {
        padding-right: 0;
    }



    .wrapper-slider {
        top: 277px;
        bottom: 168px;
    }


    .slider__text {
        width: 514px;
        margin: 0;
        padding: 0;
        padding-top: 82px;
    }

    .slider__title {
        font-size: 60px;
        line-height: 52px;
        letter-spacing: -0.5px; /*PIXEL PERFECT*/

    }

    .slider__subtitle {
        text-align: left;
        font-size: 32px;
        line-height: 41px;
    }

    .slider__info {
        height: 130px;
        font-size: 18px;
    }

    .slider__image {
        right: 31px;
        top: -17px;
    }

    .button--slider {
        left: 545px;
        bottom: -112px;
    }

    .slider__arrow--left {
        left: 28px;
    }

    .slider__arrow--right {
        right: 28px;
    }

    .top {
        padding-top: 68px;
    }

    .about, .about:first-child, .about:last-child {
        padding-top: 0px;
        padding-bottom: 23px;
    }

    .about__title {
        font-size: 30px;
        line-height: 46px;
        padding-left: 64px;
    }

    .about__title:after {
        top: 10px;
    }

    .comment__title span {
        color: #b9b9b9;
    }

    .about:nth-child(2) h2.about__title:after {
        background-position: -50px -1px;
    }

    .about:nth-child(3) h2.about__title:after {
        background-position: -101px -1px;
    }

    .about:nth-child(2) {
        padding-right: 12px;
        padding-left: 19px;
    }

    .about:last-child {
        padding-left: 36px;
    }

    .about__content {
        height: 125px;
        letter-spacing: -0.2px; /*PIXEL PERFECT*/
    }

    .about__more {
        margin-top: 13px;
    }

    .about:first-child .about__more {
        margin-right: 15px;
    }

    .about:last-child .about__more {
        margin-right: 1px;
    }

    .article__title {
        font-size: 30px;
        line-height: 30px;
    }

    .article__info {
        height: 170px;
        padding-right: 10px;
        padding-left: 3px;
    }

    .article__box:before {
        content: '';
        position: absolute;
        right: 40px;
        bottom: -20px;
        border-bottom: 20px solid transparent;
        border-right: 20px solid white;
    }

    .updates {
        padding-bottom: 114px;
    }

    .updates-item:last-child {
        margin-top: -4px;
    }

    .updates-item__text {
        margin-right: 0;
    }

    .updates__more:after {
        content: 'Read more here';
        right: 20px;
        top: 3px;
    }

    .partners {
        padding-top: 14px;
    }

    .partner-link, .partner-link:first-child, .partner-link:last-child {
        padding: 14px 31px;
    }

    .bottom {
        font-size: 0;
        padding-top: 87px;
    }

    .pigbull, .comments {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        width: 33.333%;
    }

    .pigbull {
        margin-top: 9px;
    }

    .categories .bottom-block__title, .comments .comment__title {
        font-size: 30px;
    }

    .categories {
        padding-top: 5px;
    }

    .comment__title {
        font-family: "LeagueGothic", sans-serif;
        font-size: 48px;
        line-height: 48px;
        font-weight: normal;
        color: #454545;
        text-shadow: 0 1px #fff;
    }

    .comment__subtitile {
        font-family: Georgia, serif;
        font-size: 16px;
        font-style: italic;
        font-weight: normal;
        color: #c5c5c5;
        text-shadow: 1px 1px #fff;
        margin: 10px 0;
    }

    .comment__content {
        font-size: 16px;
        color: #787878;
        text-shadow: 1px 1px #fff;
        line-height: 24px;
    }

    .block:first-child {
        padding-right: 35px;
    }

    .block:nth-child(2) {
        padding: 0 18px;
    }

    .block:nth-child(3) {
        padding-left: 39px;
        padding-right: 0;
        letter-spacing: -0.1px;
    }

    .block:nth-child(n+4) {
        display: none;
    }

    .dn {
        display: none;
    }

    .footer {
        height: 71px;
    }

    .menu--footer {
        display: inline-block;
        vertical-align: top;
    }

    .menu--footer .menu__item {
        margin-right: 31px;
    }

    .menu--footer .menu__item:first-child .menu__link {
        padding-left: 0;
    }

    .copy {
        display: inline-block;
        vertical-align: top;
        float: right;
        padding-top: 8px;
    }


}