.wrapper-header {
    /*background-position: -365px -2px;*/
    /*background-size: auto;*/
}

.slider__text {
    padding-right: 40px;
    padding-left: 1px;
}

.slider__title {
    letter-spacing: -0.5px;
}

.slider__subtitle {
    /*letter-spacing: -0.08px;*/
    margin-bottom: 6px;
    margin-top: -1px;
}

.slider__info {
    letter-spacing: -0.1px;
}

h2.about__title {
    font-size: 29.7px;
    margin-bottom: 1px;
}

.about__content {
    font-size: 15.5px;
}

.about__more {
    font-size: 18.2px;
}

.about:first-child .about__more {
    margin-right: 11px;
}

.updates-item:nth-child(3) {
    margin-bottom: 10px;
}

.menu__link {
    line-height: 30px;
    box-sizing: content-box;
    padding: 0 4px;
}

.menu__item:last-child .menu__link {
    margin-right: -5px;
}

.article__info {
    letter-spacing: -0.09px;
}

.menu--footer {
    margin-left: -6px;
    margin-right: 6px;
}

@media all and (min-width: 768px) {

    .block:first-child {

    }



}