.wrapper-header {
    /*background-position: -365px -2px;*/
    /*background-size: auto;*/
}

.slider__text {
    padding-right: 40px;
}

.slider__title {
    letter-spacing: -0.5px;
}

.slider__subtitle {
    letter-spacing: -0.08px;
}

.slider__info {
    letter-spacing: -0.1px;
}

h2.about__title {
    font-size: 29.7px;
}

.about__content {
    font-size: 15.8px;
}

.about__more {
    font-size: 18.2px;
}

.about:first-child .about__more {
    margin-right: 4px;
}

.menu__link {
    line-height: 30px;
    box-sizing: content-box;
    padding: 0 4px;
}

.menu__item:last-child .menu__link {
    margin-right: -5px;
}

.article__info {
    letter-spacing: -0.09px;
}

.recent__more {
    font-size: 18.5px;
}

.menu--footer {
    margin-left: -6px;
    margin-right: 6px;
}