.wrapper-header {
    /*background-position: -365px -2px;*/
    /*background-size: auto;*/
}

.slider__text {
    padding-right: 40px;
    padding-left: 1px;
}



.slider__info {
    letter-spacing: -0.1px;
}

.about:last-child {
    padding-top: 16px;
}

.updates-item:last-child {
    margin-top: 8px;
}



.menu__item:last-child .menu__link {
    margin-right: -5px;
}

.article__info {
    letter-spacing: -0.09px;
}

/*.menu--footer {
    margin-left: -6px;
    margin-right: 6px;
}*/

@media all and (min-width: 768px) {

    .block:first-child {

    }



}