
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
​*, *​:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: LeagueGothic;
    src: url(fonts/LeagueGothic-Regular.otf);
}





/*HEADER*/



.menu {

    /*padding: 0 0 0 3px;*/
}

.menu__item {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

.menu__link {
    display: block;
    font-family: LeagueGothic;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 2px 2px rgba(0,0,0,.4);
    border-bottom: 2px solid transparent;
    box-sizing: content-box;
    padding: 0 4px;
    transition: linear 0.2s;
    text-decoration: none;
}

.menu__link:hover {
    border-bottom: 2px solid #edbfff;
    color: white;
    text-decoration: none;
}

.menu__item:last-child {
    margin-right: 0;
}

.slider {
    font-size: 0;
}


.slider__info {
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    color: #fff;
}







.updates-item__image {
    top: 5px;
}







.updates-item__image {

}





.updates__more:hover {
    text-decoration: none;
    color: #454545;
    text-shadow: 0 0 5px rgba(0,0,0,.5);
}




.wrapper-bottom {
    background: #ececec;
}

.bottom {
    padding: 72px 0 92px;
}

.comment__title {
    font-family: "LeagueGothic", sans-serif;
    font-size: 48px;
    line-height: 48px;
    margin-top: 22px;
    color: #454545;
    text-shadow: 0 1px #fff;
}

.categories .comment__title, .comments .comment__title {
    font-size: 30px;
    margin-top: 15px;
}

.comment__title span {
    color: #b9b9b9;
}

.comment__subtitile {
    font-family: Georgia, serif;
    font-size: 16px;
    font-style: italic;
    color: #c5c5c5;
    text-shadow: 1px 1px #fff;
    margin: 10px 0;
}

.comment__content {
    font-size: 16px;
    color: #787878;
    text-shadow: 1px 1px #fff;
    line-height: 24px;
}

.wrapper-footer {
    background: #777 url("img/bottom-bg.jpg");
    background-size: cover;
    background-position: center;
}




.menu--footer .menu__link {
    font-size: 20px;
}





@media all and (min-width: 480px) and (max-width: 960px) {


    .menu {
        padding: 0;
    }

    .menu__link {
        padding: 0 8px;
    }



    .wrapper-slider {
        top: 205px;
        bottom: 212px;
    }




    .slider__info {
        font-size: 16px;
        line-height: 24px;
    }

    .slider__info:first-line {
        line-height: 34px;
    }




}

@media all and (min-width: 960px) {

    .block:first-child {
        padding-right: 30px;
    }

    .block:nth-child(2) {
        padding: 0 18px;
    }

    .block:nth-child(3) {
        padding-left: 38px;
    }

    .block:nth-child(n+4) {
        display: none;
    }

}

.comment.block:first-child {
    padding-right: 38px;

}
