* {
    margin: 0;
    padding: 0;
}

[class*="col-"] {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: LeagueGothic;
    src: url(fonts/LeagueGothic-Regular.otf);
}

.wrapper-header {
    background: #777 url("img/header-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header {
    padding-top: 12px;
    height: 817px;
}

.logo {
    margin-top: 10px;
}

.menu {
    margin-top: 30px;
    padding: 0 0 0 3px;
}

.menu__item {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

.menu__link {
    display: block;
    font-family: LeagueGothic;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 2px 2px rgba(0,0,0,.4);
    border-bottom: 2px solid transparent;
    box-sizing: content-box;
    padding: 0 4px;
    transition: linear 0.2s;
}

.menu__link:hover {
    border-bottom: 2px solid #edbfff;
    color: white;
    text-decoration: none;
}

.menu__item:last-child {
    margin-right: 0;
}

.wrapper-slider {
    background: rgba(0,0,0,.2);
    position: absolute;
    top: 249px;
    bottom: 168px;
    left: 0;
    right: 0;
}

.slider {
    height: 400px;
}

.slider__text {
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
    margin-top: 78px;
}

.slider__title {
    color: #fefefe;
    font-family: LeagueGothic;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
}

.slider__subtitle {
    line-height: 32px;
    margin-bottom: 5px;
    font-size: 32px;
    color: #edbfff;
    font-family: LeagueGothic;
    text-transform: uppercase;
}

.slider__info {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.slider__image img {
    margin-top: -17px;
    margin-left: 56px;
}

.button.button--slider {

    text-align: right;
    padding-right: 150px;
    margin-top: 32px;

}

.button.button--slider span {
    border-color: #333;

    background-color: rgba(59,59,67,0.8);

}

.button.button--slider span.active:after {

    background: #f1f1f1;

}

.arrow {
    position: absolute;
    background: url("img/sprite.png");
    top: 180px;
    width: 30px;
    height: 40px;
    cursor: pointer;
}

.arrow-left {
    left: 28px;
    background-position: -147px 0;
}

.arrow-right {
    right: 28px;
    background-position: -180px 0;
}

.wrapper-top {
    background-image: linear-gradient(to top, #322539, #745083);
    border-top: 1px solid #33253a;
    box-shadow: 0px 3px 20px 2px rgba(0,0,0,.4);
}


.top {
    padding-top: 70px;
    padding-bottom: 66px;

}

.about {
    text-shadow: 1px 1px #0f1518;
    color: white;
}

h2.about__title {
    font-family: "LeagueGothic", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 65px;
    position: relative;

}

.about h2.about__title:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: url("img/sprite.png") no-repeat;
    background-position: -1px 6px;
}

.about:nth-child(2) h2.about__title:after {
    background-position: -50px 6px;
}

.about:nth-child(3) h2.about__title:after {
    background-position: -101px 6px;
}

.about__content {
    font-size: 16px;
    line-height: 24px;
    padding-left: 63px;
    margin: 0;
}

.about__more {
    color: white;
    text-align: right;
    font-family: "LeagueGothic", sans-serif;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 17px;
    text-shadow: 1px 1px #0f1518;
    transition: linear 0.2s;
}

.about__more:hover {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 8px rgba(255,255,255,.8);
}

.wrapper-middle {
    background: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
}

.middle {
    padding: 122px 0 67px;
}

.article {
    padding-right: 65px;
    position: relative;
}

.article__box {
    position: absolute;
    background: white;
    border-bottom: 1px solid #efefef;
    top: -21px;
    bottom: 46px;
    left: 24px;
    right: 29px;
}

.article__box:before {
    content: '';
    position: absolute;
    right: 40px;
    bottom: -20px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid white;
}

.article__image, .updates-item__image {
    position: absolute;
    top: -5px;
    left: 0;
}

.button {
    text-align: center;
    padding-left: 60px;
}

.button span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 60px;
    border-radius: 50%;
    background: white;
    border: 1px solid #e8e8e8;
    position: relative;
    cursor: pointer;
}

.button span.active:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #555;
    border: 1px solid #e8e8e8;
    position: absolute;
    top: 2px;
    left: 2px;
    box-shadow: 0 0 1px 0 gray;
}

.updates-item__image {
    top: 5px;
}

.article__image img,
.updates-item__image {
    box-shadow: 1px 2px #fff, inset 1px 2px 5px rgba(0,0,0,.3);
    border-radius: 50%;
    border: 1px solid #dedede;
    height: 49px;
    width: 49px;
}

.article__text {
    padding-left: 63px;
    position: relative;
}

.article__title,
.updates__title {
    font-family: "LeagueGothic", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px #fff;
    color: #454545;
    margin-bottom: 4px;
}

.article__title span {
    color: #edbfff;
}

.article__info {
    font-size: 16px;
    color: #454545;
    text-shadow: 1px 1px #fff;
    line-height: 24px;
}

.updates {
    position: relative;
    padding-bottom: 27px;
    padding-left: 30px;
}

.updates-item {
    position: relative;
    padding-left: 67px;
    margin-bottom: 16px;
}

.updates-item__image {

}

.updates-item__title {
    font-weight: bold;
    font-size: 16px;
    padding: 7px 0 2px;
}

.updates-item__text {
    font-size: 16px;
}

.updates__more {
    position: absolute;
    bottom: -3px;
    right: 20px;
    text-transform: uppercase;
    font-family: "LeagueGothic", sans-serif;
    font-size: 18px;
    color: #454545;
    text-shadow: 1px 1px #fff;
    text-decoration: none;
    transition: linear 0.2s;
}

.updates__more:hover {
    text-decoration: none;
    color: #454545;
    text-shadow: 0 0 5px rgba(0,0,0,.5);
}

.partners {
    text-align: center;
}

.partner-link {
    text-align: center;
    display: inline-block;
    padding: 24px 32px 30px;
    transition: linear 0.2s;
}

.partner-link:hover {
    background: #efefef;

}

.wrapper-bottom {
    background: #ececec;
}

.bottom {
    padding: 72px 0 92px;
}

.comment__title {
    font-family: "LeagueGothic", sans-serif;
    font-size: 48px;
    line-height: 48px;
    margin-top: 22px;
    color: #454545;
    text-shadow: 0 1px #fff;
}

.categories .comment__title, .comments .comment__title {
    font-size: 30px;
    margin-top: 15px;
}

.comment__title span {
    color: #b9b9b9;
}

.comment__subtitile {
    font-family: Georgia, serif;
    font-size: 16px;
    font-style: italic;
    color: #c5c5c5;
    text-shadow: 1px 1px #fff;
    margin: 10px 0;
}

.comment__content {
    font-size: 16px;
    color: #787878;
    text-shadow: 1px 1px #fff;
    line-height: 24px;
}

.wrapper-footer {
    background: #777 url("img/bottom-bg.jpg");
    background-size: cover;
    background-position: center;
}

.footer {
    padding: 11px 0 40px;
}

.menu--footer .menu__item {
    margin-right: 31px;
}

.menu--footer .menu__link {
    font-size: 20px;
}

.copy {
    text-align: right;
    color: white;
    font-size: 12px;
    padding-top: 40px;
    text-shadow: 1px 2px 2px rgba(0,0,0,.4);
}

.copy__link {
    color: white;
    font-weight: bold;
    transition: linear 0.2s;
}

.copy__link:hover {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 8px rgba(255,255,255,.8);
}

